.circle {
    width: 2.5vw;
    height: 5vh;
    border-radius: 50%;
    border: 2px solid green;
    position: relative;
}

.line {
    position: absolute;
    width: 5vh;
    background-color: green;
    translate: 0 2vw;
}



