.square {
    width: 3vw;
    height: 3vw;
    border-radius: 0%;
    border: 2px solid green;
    position: relative;
}

.line {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 150%;
    background-color: green;

    transform-origin: top; /* Set the point of rotation */
}



.State {
    position: absolute;
    top: 50%;
    left: 50%;
    color: orange;
    transform: rotate(0deg) translate(-51%, -100%)!important;
    transform-origin: top; /* Set the point of rotation */
    font-weight: 700;
}




